<div class="row">
    <div class='col-md-8 col-sm-12'>
        <h4>Password Request</h4>
        <form (ngSubmit)='onSubmit()' #f='ngForm'>
            <div class="form-group">
                <label class="control-label" for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="credentials.email"
                    #email="ngModel" required minlength="6" pattern="^[A-z0-9._%+-]+@[A-z0-9.-]+\.[A-z]{2,}$" value='{{email}}'autofocus>
                <div *ngIf='email.invalid && (email.dirty || email.touched)' class='alert alert-danger'>
                    <div *ngIf='email.errors?.required'>You'll need the email from the account can't log into</div>
                    <div *ngIf='email.errors?.pattern'>That doesn't appear to be an email</div>
                    <div *ngIf='email.errors?.minlength'>Your email can't possibly be less than 6 characters</div>
                </div>
            </div>
            <button
            *ngIf='!email.invalid'
            class="btn btn-primary" type="submit">Request New Password</button>
            <button class="btn btn-default" routerLink="/home">Back to home</button>&nbsp;&nbsp;
        </form>
    </div>
</div>

