<div class="row">
    <div class='col-sm-12'>
        <mat-card id="info" class="mat-elevation-z8">
            <h2>BTS 630 - Capstone Major Project</h2>
        </mat-card>
        <br>
        <mat-card id="border" class="mat-elevation-z8">
            <img mat-card-image src="../../assets/home.jpg" alt=canvas.name>
            <p>Welcome to, and thank you for participating in the InkShare project with us!</p>
            <p>InkShare aims to provide a stable and effortless tooling to let you and your team draw and make notes together in
                real time.
            </p>
            <p>More importantly, we aim to do this for free. Just get started by creating an account, or logging in
                below;</p>
            <a class="btn btn-primary" routerLink='/register'>I'm New!</a>&nbsp;&nbsp;
            <a class="btn btn-success" routerLink='/login'>I'm Returning!</a>
            <p>&nbsp;</p>
            <p>Then you can get started drawing below!</p>
            <a class="btn btn-warning" routerLink='/library'>Let's start drawing!</a>
        </mat-card>
    </div>
</div>